<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        tools:replace="android:theme"
        android:icon="@drawable/blowtorch_logo3"
        android:label="BlowTorch"
        android:allowBackup="true"
        android:process="com.offsetnull.bt"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.AppCompat.Dark.NoActionBar">

        <meta-data android:value="84" android:name="BLOWTORCH_LUA_LIBS_VERSION"/>

        <activity android:name="com.offsetnull.btfree.FreeLauncher"
                  android:label="BlowTorch"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.offsetnull.bt.launcher.Launcher"
                  android:label="BlowTorch"
                  android:exported="false">
        </activity>

        <activity android:name="com.offsetnull.bt.window.MainWindow"
                  android:windowSoftInputMode="adjustPan|stateHidden"
                  android:label="BlowTorch"
                  android:exported="true"
                  android:configChanges="orientation|keyboard|keyboardHidden|screenLayout|screenSize"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.offsetnull.bt.window.MainWindow.NORMAL_MODE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <service android:name="com.offsetnull.bt.service.StellarService"
                 android:exported="false"
                 android:foregroundServiceType="connectedDevice">
            <intent-filter>
                <action android:name="com.offsetnull.bt.service.IStellarService.MODE_NORMAL"/>
            </intent-filter>
        </service>

    </application>

</manifest>
